/* Add CSS styling here */

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color:whitesmoke;
    color:rgb(55, 55, 55);
    font-family: Verdana,Geneva,sans-serif; 
}

header, footer {
    background-color:coral;
    color:whitesmoke;
    padding:3% 0;
}

.container {
    margin:0px auto;
    max-width:960px;
    padding:0px 2%;
}

.btn {
    display:inline-block;
    text-align:center;
    padding:2% 6%;
    background-color:coral;
    border-radius:5px;
    color:whitesmoke;
    text-decoration: none;
}

.btn:hover {
    background-color:paleturquoise;
}

header .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav {
    display:flex;
    
}

nav a {
    display:inline-block;
    text-align: center;
    padding: 2% 0;
    width:100px;
    text-decoration:none;
    letter-spacing: 1px;
    margin:0 2%;
    background-color:whitesmoke;
    color:coral;
    border-radius:5px;
    transition:200ms;
}

nav a:hover {
    background-color:paleturquoise;
}

#hero {
    display:flex;
    margin:3% 0;
    align-items: center;
}

#hero img {
    max-width:100%;
    display: inline-block;
}

.hero-info {
    padding:5%;
}

#projects {
    display:flex;
    flex-wrap: wrap;
}

.project {
    margin-right:2%;
    max-width:48%;
}

p.caption {
    font-size:.9rem;
    color:gray;
    text-align:center;
    margin-top:2%;
}

footer {
    margin-top:2%;
    text-align:center;
    padding:3% 0;
}

footer .btn {
    background-color:whitesmoke;
    color:coral;
}

#social {
    margin-top:5%;
    font-size:.8rem;
}

#social a {
    color:whitesmoke;
    margin:2%;
    font-size:1.6rem;
}

/****** MOBILE STYLES ******/
@media (max-width: 500px) {
    header .container {
        flex-direction:column;
    }
    #hero {
        flex-direction: column;
        justify-content:flex-end;
    }
    .hero-info {
        text-align:center;
    }
    
}
